.adSearch{
    background-color: white;
}
.adSearch .leayer{
    position: relative;
    display: flex;
    align-items: center;
}
.adSearch .leayer ul{
    width: 600px;
    height: 20px;
    margin: 3px;
}
.adSearch .leayer ul a{
    padding: 2px;
}
.adSearch nav{
    width: 630px;
    height: 87px;
}
.searchad a:hover{
    color: #ff5000;
}
.search{
    position: relative;
    width: 600px;
    height: 36px;
}
.search input{
    padding: 0 15px;
    position: absolute;
    height: 36px;
    border: 2px solid #ff5000;
    width: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search button{
    width: 74px;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #ff5000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search input:focus{
    outline: none;
}
.qrcode{
    text-align: center;
    width: 74px;
    height: 88px;
    border: 1px solid rgb(212, 212, 212);
    position: absolute;
    right: 100px;
}
.qrcode button{
    padding:0 5px;
    border: none;
    position: absolute;
    border: 1px solid rgb(212, 212, 212);
    left: -20px;
    top: -1px;
    opacity: 0.4;
}
